{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="padding-top: 75px; padding-left: 50px; padding-right: 50px; text-align: center;">
<section class="h-100 h-custom" style="background-color: #fff; padding-bottom: 0px;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            {% comment %} <img src="{% static '/img/food2.jpg' %}"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="picture of food" height="250"> {% endcomment %}
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Search People and See Their Skills</h3>
                <form action="{% url 'searchprofile' %}" name="form" method="get">
                    <div class="row">
                        <!-- First Name Input -->
                        <div class="form-outline col-md-6 mb-4">
                            <input type="text" name='first_name' id='first_name' class="form-control">
                            <label for='first_name' class="form-label">Enter the first name:</label>
                        </div>

                        <div class="form-outline col-md-6 mb-4">
                            <input type="text" name='last_name' id='last_name' class="form-control">
                            <label for='last_name' class="form-label">Enter the last name:</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg mb-1" style="background: #67b0d1; color:white;">Search</button>
                </form> 
            </div>
         </div>
      </div>
    </div>
  </div>
</section>
</div>
{% endblock %} 